<div class="row">
  <div class="card-product">

     <% if habitset.photo.url.nil? %>
        <%= cl_image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", height: 300, width: 400, crop: :fit %>
    <% else %>
     <%= cl_image_tag habitset.photo, height: 300, width: 400, crop: :fit%>

    <% end %>

    <div class="card-product-infos">
      <div class="row">
        <div class="col-xs-1">
          <% if habitset.date.nil? %>
          <% else %>
            <p>  <%= habitset.date.strftime("%d.%b.%y")%></p>
          <% end %>
        </div>
        <div class="col-xs-1">
          <div class="btn round-btn"> <%= habitset.habitset_type %></div>
        </div>
        <div class="col-xs-3"> <p> <%= habitset.name %></p></div>
        <div class="col-xs-1">
          <% if  habitset.is_completed %>
            <i class="fas fa-check-circle" style= "font-size: 20px"></i>
          <% else %>
          <p>Ongoing</p>
          <% end %>
          </div>
        <div class="col-xs-1">
          <% unless habitset.started_from_today ==0 %>
              <p> <%= "#{habitset.started_from_today} days"%></p>
          <%end%>
          </div>
        <div class="col-xs-3">
          <% unless habitset.coach_id.nil? %>
          <div class="card-coach">
            <div class="card-coach-avatar">
              <%="Coach: #{habitset.coach_name}"%>
            </div>
            <div class="card-coach-action">
              <button class="round-btn md-btn blue-btn" type="button" data-toggle="collapse" data-target="#collapseReview<%= habitset.id -%>" aria-expanded="false" aria-controls="collapseReview<%= habitset.id -%>">Coach me !</button>
            </div>
          </div>
          <%end%>
        </div>
        <div class="col-xs-2">
          <button class="round-btn sm-btn" type="button" data-toggle="collapse" data-target="#collapseExample<%= habitset.id -%>" aria-expanded="false" aria-controls="collapseExample<%= habitset.id -%>"><i class="fas fa-eye" style= "font-size: 15px"></i></button>
            <%= link_to edit_habitset_path(habitset),  class: "round-btn sm-btn" do %><i class="fas fa-tools" style= "font-size: 15px"></i><%end%></i>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- PARTIAL SHOW -->
<div class="row">
  <div class="collapse <%= params[:show].to_i==habitset.id ? "in" : ""  -%>" id="collapseExample<%= habitset.id -%>"" style= "width: 100%">
    <%= render 'habitsets/cards/details', habitset:habitset  %>
  </div>
</div>

<!-- PARTIAL EDIT REVIEW -->
<div class="row">
  <div class="collapse <%= params[:show].to_i==habitset.id ? "in" : ""  -%>" id="collapseReview<%= habitset.id -%>"" style= "width: 100%">
    <%= render 'habitsets/cards/editreview', habitset:habitset  %>
  </div>
</div>
