<div class="row">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />

    <div class="card-product-infos">
      <div class="row">
        <div class="col-xs-1">
          <% if habitset.date.nil? %>
          <% else %>
            <%= habitset.date.strftime("%d.%b.%y")%>
          <% end %>
        </div>
        <div class="col-xs-2">coachee: <%= habitset.coachee_name %></div>
        <div class="col-xs-6"><%= habitset.name %></div>
        <div class="col-xs-3">
          <% unless habitset.coach_id.nil? %>
          <div class="card-coach">
          </div>
          <div class="card-coach-action">
            <button class="round-btn sm-btn blue-btn" type="button" data-toggle="collapse" data-target="#collapseReview<%= habitset.id -%>" aria-expanded="false" aria-controls="collapseReview<%= habitset.id -%>">Coach me !</button>
          </div>
          <%end%>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- PARTIAL SHOW -->
<div class="row">
  <div class="collapse <%= params[:show].to_i==habitset.id ? "in" : ""  -%>" id="collapseExample<%= habitset.id -%>"" style= "width: 100%">
    <%= render 'habitsets/cards/details', habitset:habitset  %>
  </div>
</div>

<!-- PARTIAL EDIT REVIEW -->
<div class="row">
  <div class="collapse <%= params[:show].to_i==habitset.id ? "in" : ""  -%>" id="collapseReview<%= habitset.id -%>"" style= "width: 100%">
    <%= render 'habitsets/cards/editreview', habitset:habitset  %>
  </div>
</div>
