<div class="page-custom-wrapper">
  <div class="page-custom-content">
    <div class="grid">
      <div class=custom-table>



        <div class="grid row custom-table-header">
          <div class="col-xs-12">HABIT</div>
        </div>

        <div class="grid row custom-table-row">
          <div class="col-xs-2">Started at</div>
          <div class="col-xs-10"> <%= habitset.started_at.strftime("%A, %d %B %y") unless habitset.started_at.nil? %></div>
        </div>

          <div class="grid row custom-table-row">
          <div class="col-xs-2">Number of days</div>
          <div class="col-xs-10"> <%= "#{habitset.started_from_today} days" %></div>
        </div>


        <div class="grid row custom-table-header">
          <div class="col-xs-12">RECIPES HABIT</div>
        </div>

        <div class="grid row custom-table-row">
          <div class="col-xs-2">Description</div>
          <div class="col-xs-10"> <%= habitset.description %></div>
        </div>

        <div class="grid row custom-table-row">
          <div class="col-xs-2">URL Recipes Quitoque</div>
          <div class="col-xs-2"><a href="<%= habitset.url %>" target= "_blank">Go to page</a></div>
          <div class="col-xs-8"><%= habitset.url %></div>
        </div>

        <div class="grid row custom-table-row">
          <div class="col-xs-2">KCAL</div>
          <div class="col-xs-8"><%= habitset.kcal %></div>
        </div>


        <div class="grid row custom-table-header">
          <div class="col-xs-12">WORKOUT HABIT</div>
        </div>

        <div class="grid row custom-table-row">
          <div class="col-xs-2">Time (in minutes)</div>
          <div class="col-xs-10"> <%= habitset.fit_workouttime %></div>
        </div>

        <div class="grid row custom-table-row">
          <div class="col-xs-2">Description</div>
          <div class="col-xs-10"> <%= habitset.fit_workoutdescription %></div>
        </div>

         <div class="grid row custom-table-header">
          <div class="col-xs-12">RESULT</div>
        </div>

        <div class="grid row custom-table-row">
          <div class="col-xs-2">Weight (in kg)</div>
          <div class="col-xs-10"> <%= habitset.result_weight %></div>
        </div>

        <div class="grid row custom-table-row">
          <div class="col-xs-2">Fatmass (in %)</div>
          <div class="col-xs-10"> <%= habitset.result_fatmass_pct %></div>
        </div>


      </div>


    </div>

  </div>
</div>

