<div class="row">
  <div class="card-product">

     <% if habitset.photo.url.nil? %>
        <%= cl_image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", height: 300, width: 400, crop: :fit %>
    <% else %>
     <%= cl_image_tag habitset.photo, height: 300, width: 400, crop: :fit%>

    <% end %>

    <div class="card-product-infos">
      <div class="row">

        <div class="col-xs-4" > <p> <%= habitset.name %></p></div>
        <div class="col-xs-1" style="text-align: center">
          <div class="<%= "btn sm-btn round-btn #{if habitset.status == 'Completed' then 'green-btn' elsif habitset.status == 'Failed' then 'red-btn' end }"%>",  style= "font-size: 10px">
          </div>
          </div>
        <div class="col-xs-2" style="text-align: center">
          <% unless habitset.coach_id.nil? %>
          <div class="card-coach">
              <div><button class="round-btn sm-btn blue-btn" type="button" data-toggle="collapse" data-target="#collapseReview<%= habitset.id -%>" aria-expanded="false" aria-controls="collapseReview<%= habitset.id -%>">Coach me</button></div>
              <div>
                <%="#{habitset.coach_name}"%>
              </div>
          </div>
          <%end%>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-2">
            <%= link_to edit_habitset_path(habitset),  class: "round-btn sm-btn" do %><i class="fas fa-tools" style= "font-size: 15px"></i><%end%></i>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- PARTIAL COACH / EDIT REVIEW -->
<div class="row">
  <div class="collapse <%= params[:show].to_i==habitset.id ? "in" : ""  -%>" id="collapseReview<%= habitset.id -%>"" style= "width: 100%">
    <%= render 'habitsets/cards/show-coach', habitset:habitset  %>
  </div>
</div>
