<div class="row">
  <div class="card-product">

     <% if habitset.photo.url.nil? %>
        <%= cl_image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", height: 300, width: 400, crop: :fit %>
    <% else %>
     <%= cl_image_tag habitset.photo, height: 300, width: 400, crop: :fit%>

    <% end %>

    <div class="card-product-infos">
      <div class="row">
        <div class="col-xs-1">
          <% if habitset.date.nil? %>
          <% else %>
            <p>  <%= habitset.date.strftime("%a.%d.%b")%></p>
          <% end %>
        </div>
        <div class="col-xs-2" style="text-align: center">
          <div class="btn round-btn element-btn grey-btn" style= "font-size: 10px">
            <%= HabitElement.find(habitset.habit_element_id).name  unless habitset.habit_element_id.nil?%>

            </div>
        </div>
        <div class="col-xs-4" > <p> <%= habitset.name %></p></div>
        <div class="col-xs-1" style="text-align: center">
          <div class="<%= "btn round-btn sm-btn #{if habitset.status == 'Completed' then 'green-btn' elsif habitset.status == 'Failed' then 'red-btn' end }"%>",  style= "font-size: 10px">

            <% if habitset.status == "Ongoing" and habitset.habitset_type == "Days count" %>
              <% unless habitset.started_from_today <= 0 %>
                <p style= "font-size: 10px"> <%= "#{habitset.started_from_today} days"%></p>
              <%end%>
            <%else%>
              <%= habitset.status %>
            <%end%>
          </div>
          </div>
        <div class="col-xs-1" style="text-align: center">
          <% unless habitset.coach_id.nil? %>
          <div class="card-coach">
              <div><button class="round-btn sm-btn blue-btn" type="button" data-toggle="collapse" data-target="#collapseReview<%= habitset.id -%>" aria-expanded="false" aria-controls="collapseReview<%= habitset.id -%>">Coach me</button></div>
              <div>
                <%="#{habitset.coach_name}"%>
              </div>
          </div>
          <%end%>
        </div>
        <div class="col-xs-3">
          <button class="round-btn sm-btn" type="button" data-toggle="collapse" data-target="#collapseExample<%= habitset.id -%>" aria-expanded="false" aria-controls="collapseExample<%= habitset.id -%>"><i class="fas fa-eye" style= "font-size: 15px"></i></button>
            <%= link_to edit_habitset_path(habitset),  class: "round-btn sm-btn" do %><i class="fas fa-tools" style= "font-size: 15px"></i><%end%></i>
          <% if habitset.children? %>
          <button class="round-btn sm-btn" type="button" data-toggle="collapse" data-target="#collapseHabitsetChildren<%= habitset.id -%>" aria-expanded="false" aria-controls="HabitsetChildren<%= habitset.id -%>">Children</button>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- PARTIAL SHOW -->
<div class="row">
  <div class="collapse <%= params[:show].to_i==habitset.id ? "in" : ""  -%>" id="collapseExample<%= habitset.id -%>"" style= "width: 100%">
    <%= render 'habitsets/cards/details', habitset:habitset  %>
  </div>
</div>

<!-- PARTIAL EDIT REVIEW -->
<div class="row">
  <div class="collapse <%= params[:show].to_i==habitset.id ? "in" : ""  -%>" id="collapseReview<%= habitset.id -%>"" style= "width: 100%">
    <%= render 'habitsets/cards/editreview', habitset:habitset  %>
  </div>
</div>


<!-- PARTIAL HABISET CHILDREN -->
<div class="row">
  <div class="collapse <%= params[:show].to_i==habitset.id ? "in" : ""  -%>" id="collapseHabitsetChildren<%= habitset.id -%>"" style= "width: 100%">
     <% habitset.children.each do |habitsetchild|   %>
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
          <%= render 'habitsets/cards/show-child', habitset: habitsetchild %>
        </div>
      </div>
    <% end %>
  </div>
</div>
