

<div class="custom-table">
  <div class="row custom-table-header-grey row-margin-left">
    <div class="col-xs-2 custom-table-cell">#</div>
    <div class="col-xs-2 custom-table-cell">Reps</div>
    <div class="col-xs-2 custom-table-cell">Poids</div>
    <div class="col-xs-6 custom-table-cell">Actions</div>
  </div>
  <% repetitions.order(:id).each_with_index do |repetition, index| %>
  <div class="row custom-table-row row-margin-left" id="<%= "repetition#{repetition.id}-show"%>">
    <div class="col-xs-2 custom-table-cell"><%= index + 1 %></div>
    <div class="col-xs-2 custom-table-cell"><%= repetition.quantity %></div>
    <div class="col-xs-2 custom-table-cell"><%= repetition.weight %></div>
    <div class="col-xs-6 custom-table-cell">
      <button class="round-btn white-btn sm-btn margin-left jsFormEditBtn" data-repetition=<%= "#{repetition.id}" %>>Modifier</button>
    </div>
  </div>
  <div class="row custom-table-row hide row-margin-left" id="<%= "repetition#{repetition.id}-edit"%>">

    <%= simple_form_for repetition, url: repetition_path(repetition,mode: "program"), html: {class: "form-width"} do |f| %>
    <div class="form-row">
    <div class="form-group-column col-xs-3 custom-table-cells">
      <label for="">Reps</label>
      <%= f.input :quantity, label: false, input_html: {class: "form-control-custom", id:"input_quantity_#{repetition.id}"} %>
      <div class="from-group-btns">
        <i class="fas fa-plus-circle jsFormInputBtnPlus form-icon" data-input=<%= "input_quantity_#{repetition.id}" %>></i>
        <i class="fas fa-minus-circle jsFormInputBtnMinus form-icon" data-input=<%= "input_quantity_#{repetition.id}" %>></i>
      </div>
    </div>
    <div class="form-group-column col-xs-3 custom-table-cells">
      <label for="">Poids</label>
      <%= f.input :weight,label: false, input_html: {class: "form-control-custom", id:"input_weight#{repetition.id}"} %>
      <div class="from-group-btns">
        <i class="fas fa-plus-circle jsFormInputBtnPlus form-icon" data-input=<%= "input_weight#{repetition.id}" %>></i>
        <i class="fas fa-minus-circle jsFormInputBtnMinus form-icon" data-input=<%= "input_weight#{repetition.id}" %>></i>
      </div>
    </div>
    <div class="form-group-column col-xs-6 custom-table-cell">
      <label for="">Actions</label>
      <div class="from-group-btns">
        <%= f.submit "OK", class: "blue-btn round-btn sm-btn" %>
        <button class="round-btn white-btn sm-btn margin-left jsFormCloseBtn" data-repetition=<%= "#{repetition.id}" %>>Cancel</button>
        <%= link_to "Supprimer", repetition_path(workoutset,repetition), method: :delete, class:"round-btn white-btn sm-btn"%>
      </div>
    </div>
    </div>
    <% end %>


  </div>
  <% end %>
  <div class="row custom-table-row row-margin-left">
    <div class="col-xs-6 custom-table-cell"></div>
    <div class="col-xs-6 custom-table-cell">
      <%= link_to "Ajouter", new_workoutset_repetition_path(workoutset, params: {mode: "program"}), class:"round-btn white-btn sm-btn"%>
    </div>
  </div>
</div>
