

<div class="custom-table">
  <div class="row custom-table-header">
    <div class="col-xs-2 custom-table-cell">#</div>
    <div class="col-xs-2 custom-table-cell">Reps</div>
    <div class="col-xs-2 custom-table-cell">Poids</div>
    <div class="col-xs-2 custom-table-cell">Status</div>
    <div class="col-xs-4 custom-table-cell">Actions</div>
  </div>
  <% repetitions.each_with_index do |repetition, index| %>
  <div class="row custom-table-row" id="<%= "repetition#{repetition.id}-show"%>">
    <div class="col-xs-2 custom-table-cell"><%= index + 1 %></div>
    <div class="col-xs-2 custom-table-cell"><%= repetition.quantity %></div>
    <div class="col-xs-2 custom-table-cell"><%= repetition.weight %></div>
    <div class="col-xs-2 custom-table-cell">
      <%= simple_form_for repetition do |f| %>
      <%= f.input :is_complete, as: :hidden, input_html: { value: !repetition.is_complete } %>
      <%= button_tag type: 'submit', class: "btn-icon" do %><i class="fas fa-check-circle <%= repetition.is_complete ? 'icon-green' : 'icon-grey' %>"></i><%end%>
      <% end %>
    </div>
    <div class="col-xs-4 custom-table-cell">
      <button class="round-btn white-btn sm-btn margin-left jsFormEditBtn" data-repetition=<%= "#{repetition.id}" %>>Modifier</button>
    </div>
  </div>
  <div class="row custom-table-row hide" id="<%= "repetition#{repetition.id}-edit"%>">

    <%= simple_form_for repetition, html: {class: "form-width"} do |f| %>
    <div class="form-row">
    <div class="form-group-column col-xs-3 custom-table-cell">
      <label for="">Reps</label>
      <%= f.input :quantity, label: false, input_html: {class: "form-control-custom", id:"input_quantity_#{repetition.id}"} %>
      <div class="from-group-btns">
        <i class="fas fa-plus-circle jsFormInputBtnPlus form-icon" data-input=<%= "input_quantity_#{repetition.id}" %>></i>
        <i class="fas fa-minus-circle jsFormInputBtnMinus form-icon" data-input=<%= "input_quantity_#{repetition.id}" %>></i>
      </div>
    </div>
    <div class="form-group-column col-xs-3 custom-table-cell">
       <label for="">Poids</label>
      <%= f.input :weight,label: false, input_html: {class: "form-control-custom", id:"input_weight#{repetition.id}"} %>
      <div class="from-group-btns">
        <i class="fas fa-plus-circle jsFormInputBtnPlus form-icon" data-input=<%= "input_weight#{repetition.id}" %>></i>
        <i class="fas fa-minus-circle jsFormInputBtnMinus form-icon" data-input=<%= "input_weight#{repetition.id}" %>></i>
      </div>
    </div>


    <div class="form-group-column  col-xs-4 custom-table-cell">
      <label for="">Actions</label>
      <div class="from-group-btns">
        <%= f.submit "OK", class: "blue-btn round-btn sm-btn" %>
        <button class="round-btn white-btn sm-btn margin-left jsFormCloseBtn" data-repetition=<%= "#{repetition.id}" %>>Cancel</button>
        <%= link_to "Supprimer", repetition_path(repetition), method: :delete, class:"round-btn white-btn sm-btn"%>
      </div>
    </div>
    </div>
    <% end %>


  </div>
  <% end %>
  <div class="row custom-table-row">
    <div class="col-xs-8 custom-table-cell"></div>
    <div class="col-xs-4 custom-table-cell">
      <%= link_to "Ajouter", new_workoutset_repetition_path(workoutset), class:"round-btn white-btn sm-btn"%>
    </div>
  </div>
</div>
