<div class="page-wrapper">

  <div class="page-custom-header">
    <div class="page-custom-header-navback">
      <%= link_to habitsets_path,  class: "" do %><i class="fas fa-chevron-circle-left" style= "font-size: 25px"></i><%end%>
    </div>
    <div class="page-custom-header-content">
       <h3><%= @habitset.name %></h3>
       <%= "Habbitset" %>
    </div>
  </div>

  <div class="page-custom-content">

      <div class="grid">
        <div class="row custom-table-row row-margin-left">

    <%= simple_form_for @habitset do |f| %>


   <div class="row custom-table-header-grey row-margin-left">
      <div class="col-xs-12 custom-table-cell">Actions</div>
    </div>

    <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Save</div>
      <div class="col-xs-6 custom-table-cell"><%= f.button :submit, "Envoyer", class: "blue-btn round-btn sm-btn pull-right" %></div>
    </div>

    <div class="row custom-table-header-grey row-margin-left">
      <div class="col-xs-12 custom-table-cell">Modele</div>
    </div>

    <div class="row custom-table-row row-margin-left">
        <div class="col-xs-3 custom-table-cell">Is Model</div>
        <div class="col-xs-6 custom-table-cell"><%= f.input :is_model, label: false, input_html: {style: "font-size: 8px"}%> </div>
    </div>

    <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Coachee</div>
      <div class="col-xs-6 custom-table-cell">
        <%= Profile.find(1).last_name %></div>
    </div>

    <div class="row custom-table-row row-margin-left">
        <div class="col-xs-3 custom-table-cell">Date</div>
        <div class="col-xs-6 custom-table-cell"><%= f.input :date, as: :datepicker, label: false,  input_html: {style: "font-size: 8px"} %></div>
    </div>

    <div class="row custom-table-header-grey row-margin-left">
      <div class="col-xs-12 custom-table-cell">Basic</div>
    </div>

    <div class="row custom-table-row row-margin-left">
        <div class="col-xs-3 custom-table-cell">Name</div>
        <div class="col-xs-6 custom-table-cell"><%= f.input :name, label: false, input_html: {style: "font-size: 8px"}%> </div>
    </div>



    <div class="row custom-table-row row-margin-left">
        <div class="col-xs-3 custom-table-cell">Description</div>
        <div class="col-xs-6 custom-table-cell"><%= f.input :description, label: false, input_html: {style: "font-size: 8px"}%> </div>
    </div>

      <div class="row custom-table-row row-margin-left">
        <div class="col-xs-3 custom-table-cell">Url</div>
        <div class="col-xs-6 custom-table-cell"><%= f.input :url, label: false, input_html: {style: "font-size: 8px"}%> </div>
    </div>

    <div class="row custom-table-header-grey row-margin-left">
        <div class="col-xs-12 custom-table-cell">Nutrition</div>
    </div>

        <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Kcol</div>
      <div class="col-xs-6 custom-table-cell">
        <%= f.input :kcal, label: false, value_methode: :name, input_html: {style: "font-size: 8px"}%></div>
    </div>

    <div class="row custom-table-header-grey row-margin-left">
            <div class="col-xs-12 custom-table-cell">Coaching</div>
    </div>

    <div class="row custom-table-row row-margin-left">
        <div class="col-xs-3 custom-table-cell">Is Requested</div>
        <div class="col-xs-6 custom-table-cell"><%= f.input :coach_review_is_requested, label: false, input_html: {style: "font-size: 8px"}%> </div>
    </div>

    <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Coach</div>
      <div class="col-xs-6 custom-table-cell">
        <%= f.input :coach_id, collection: Profile.all, label: false, value_methode: :name, input_html: {style: "font-size: 8px"}%></div>
    </div>

    <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Reviewed at</div>
      <div class="col-xs-6 custom-table-cell">
        <%= f.input :coach_reviewed_at, as: :datepicker, label: false,  input_html: {style: "font-size: 8px"} %></div>
    </div>

    <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Coach Review Performance</div>
      <div class="col-xs-6 custom-table-cell">
        <%= f.input :coach_review_performance, collection: [0,1,2,3,4,5,6,7,8,9,10], label: false, input_html: {style: "font-size: 8px"}%></div>
    </div>

    <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Coach Review Execution</div>
      <div class="col-xs-6 custom-table-cell">
        <%= f.input :coach_review_execution, collection: [0,1,2,3,4,5,6,7,8,9,10], label: false, input_html: {style: "font-size: 8px"}%></div>
    </div>


    <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Review</div>
      <div class="col-xs-6 custom-table-cell"><%= f.input :coach_feedback, label: false, input_html: {style: "font-size: 8px"}%></div>
    </div>

    <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Guidelines video</div>
      <div class="col-xs-6 custom-table-cell">
          <%= f.input :coach_guideline_video, label: false%>
          <%= f.input :coach_guideline_video_cache, as: :hidden %>
      </div>
    </div>

    <div class="row custom-table-row row-margin-left">
      <div class="col-xs-3 custom-table-cell">Feedback video</div>
      <div class="col-xs-6 custom-table-cell">
          <%= f.input :coach_feedback_video, label: false%>
          <%= f.input :coach_feedback_video_cache, as: :hidden %>
      </div>
    </div>

    <% end %>
    </div>

  </div>
</div>








