

<div class="page-custom-wrapper">

  <div class="page-custom-header">
  <div class="page-custom-header-navback">
    <%= link_to habitsets_path,  class: "" do %><i class="fas fa-chevron-circle-left" style= "font-size: 25px"></i><%end%></i>
  </div>

  <div class="page-custom-header-content">
    <% unless @habitset.date.nil? %>
      <h3><%= @habitset.name %></h3>
      <%= "habitset #{@habitset.name} (#{@habitset.date.strftime("%A, %d %B %y")})" %>
    <% end %>
  </div>
</div>



 <div class="page-custom-content">
  <div class="grid">

    <div class="page-custom-section">

      <div class="row custom-table-row row-margin-left">
      <%= simple_form_for @habitset do |f| %>


    <div class="row page-custom-section-title row-margin-left">
          <div class="col-xs-12 custom-table-cell">ACTIONS</div>
    </div>

      <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Save</div>
          <div class="col-xs-6 custom-table-cell"><%= f.button :submit, "Envoyer", class: "blue-btn round-btn sm-btn" %></div>
        </div>

      <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Delete</div>
          <div class="col-xs-6 custom-table-cell">
            <% unless @habitset.id.nil? %>
                <%= link_to "DELETE", habitset_destroy_path(@habitset.id), class: "blue-btn round-btn sm-btn"%>
            <% end %>
          </div>
        </div>

        <div class="row page-custom-section-title row-margin-left">
          <div class="col-xs-12 custom-table-cell">BASIC</div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Name</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :name, label: false, class:"form-control" %> </div>
        </div>


        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Photo</div>
          <div class="col-xs-6 custom-table-cell">


  <%= cl_image_tag @habitset.photo, height: 300, width: 400, crop: :fill %>

          </div>
          <div class="col-xs-3 custom-table-cell">
            <%= f.input :photo, as: :file, label: false%>
            <%= f.input :photo_cache, as: :hidden  %>
          </div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Description</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :description, as: :text, label: false, class:"form-control", input_html: {rows: 5 }%> </div>
        </div>


        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Type</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :habitset_type, collection: Habitset.habitsetTypes, label: false, class:"form-control" %>
          </div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Date</div>
          <div class="col-xs-6 custom-table-cell"><%= f.input :date, as: :date, label: false, class:"form-control"  %></div>
          <div class="col-xs-3 custom-table-cell">
            <% unless @habitset.id.nil? %>
              <%= link_to "Remove date" , habitset_destroydate_path(@habitset), action: :destroydate, class: "blue-btn round-btn sm-btn"%>
            <% end %>
          </div>
        </div>


        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Habit Started Date</div>
          <div class="col-xs-6 custom-table-cell"><%= f.input :started_at, as: :date, label: false, class:"form-control"  %></div>
          <div class="col-xs-3 custom-table-cell">
            <% unless @habitset.id.nil? %>
              <%= link_to "Remove date" , habitset_destroydate_path(@habitset), action: :destroydate, class: "blue-btn round-btn sm-btn"%>
            <% end %>
          </div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Is Active?</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :is_active, label: false, class:"form-control"  %></div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Is Model?</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :is_model, label: false, class:"form-control"  %></div>
        </div>

            <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Is Completed?</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :is_completed, label: false, class:"form-control"  %>
          </div>
        </div>

      <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Is Favorite?</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :is_favorite, label: false, class:"form-control"  %>
          </div>
        </div>


        <div class="row page-custom-section-title row-margin-left">
          <div class="col-xs-12 custom-table-cell">Nutrition Habit</div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Url</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :url, label: false, class:"form-control" %> </div>
        </div>


        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Kcal</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :kcal, label: false, class:"form-control" %>
          </div>
        </div>

        <div class="row page-custom-section-title row-margin-left">
          <div class="col-xs-12 custom-table-cell">FIT Habit</div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Workout in minutes</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :fit_workouttime, label: false, class:"form-control" %> </div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Description</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :fit_workoutdescription, label: false, class:"form-control" %> </div>
        </div>

        <div class="row page-custom-section-title row-margin-left">
          <div class="col-xs-12 custom-table-cell">Coaching Habit</div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Is Requested</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :coach_review_is_requested, label: false, class:"form-control"%> </div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Coach</div>
          <div class="col-xs-9 custom-table-cell">
            <%= f.input :coach_id, collection: Profile.all, label: false, label_method: :full_name, class:"form-control"%>
          </div>
        </div>


        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Coachee</div>
          <div class="col-xs-9 custom-table-cell">
            <%= f.input :coachee_id, collection: Profile.all, label: false, label_method: :full_name, class:"form-control"%>
          </div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Reviewed at</div>
          <div class="col-xs-6 custom-table-cell">
            <%= f.input :coach_reviewed_at, as: :date, label: false,  class:"form-control"%>
          </div>
           <div class="col-xs-3 custom-table-cell">
             <% unless @habitset.id.nil? %>
              <%= link_to "Remove date" , habitset_destroyreviewedat_path(@habitset), action: :destroyreviewedat, class: "blue-btn round-btn sm-btn"%>
            <% end %>
           </div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Coach Review</div>
          <div class="col-xs-9 custom-table-cell">
           <div class="row">
            <div class="col-xs-3 custom-table-cell">Execution review</div>
            <div class="col-xs-3 custom-table-cell"><%= f.input :coach_review_execution, collection: [0,1,2,3,4,5,6,7,8,9,10], label: false, class:"form-control"%></div>
          </div>
          <div class="row">
            <div class="col-xs-3 custom-table-cell">Performance review</div>
            <div class="col-xs-3 custom-table-cell"><%= f.input :coach_review_performance, collection: [0,1,2,3,4,5,6,7,8,9,10], label: false, class:"form-control"%></div>
          </div>

          </div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Review</div>
            <div class="col-xs-9 custom-table-cell"><%= f.input :coach_review, label: false, as: :text,  class:"form-control", input_html: {rows: 5 }%></div>
          </div>


        <div class="row page-custom-section-title row-margin-left">
          <div class="col-xs-12 custom-table-cell">Result</div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Weight (kg)</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :result_weight, label: false, class:"form-control"%></div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Fat Mass (%)</div>
          <div class="col-xs-9 custom-table-cell"><%= f.input :result_fatmass_pct, label: false, class:"form-control"%></div>
        </div>


        <div class="row page-custom-section-title row-margin-left">
          <div class="col-xs-12 custom-table-cell">Video</div>
        </div>

        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Guidelines video</div>
          <div class="col-xs-6 custom-table-cell">
            <video width="150" height="150" controls><source src="<%= @habitset.coach_guidelines_video.url %>" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="col-xs-3 custom-table-cell">
              <%= f.input :coach_guidelines_video, label: false%>
              <%= f.input :coach_guidelines_video_cache, as: :hidden %>
          </div>
        </div>


        <div class="row custom-table-row row-margin-left">
          <div class="col-xs-3 custom-table-cell">Review video</div>
          <div class="col-xs-6 custom-table-cell">
            <video width="150" height="150" controls><source src="<%= @habitset.coach_review_video.url %>" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="col-xs-3 custom-table-cell">
              <%= f.input :coach_review_video, label: false%>
              <%= f.input :coach_review_video_cache, as: :hidden %>
          </div>
          </div>
        </div>

        <% end %>
        </div>

    </div>
  </div>
</div>

