<div class="page-custom-wrapper">

  <div class="page-custom-content">
    <div class="row page-custom-section-title">
      <div class="col-xs-10"><h3>Favorites</h3></div>
      <div class="col-xs-2"></div>
    </div>

    <div class="row page-custom-section">
      <% @habitsets_favorites.each do |habitset| %>
        <%= render 'habitsets/cards/show', habitset: habitset %>
      <% end %>
    </div>
  </div>

  <div class="page-custom-content">
    <div class="row page-custom-section-title">
      <div class="col-xs-10"><h3>Inbox</h3></div>
      <div class="col-xs-2">
        <button class="round-btn sm-btn" type="button" data-toggle="collapse" data-target="#collapseInbox" aria-expanded="false" aria-controls="collapseInbox"><i class="fas fa-eye" style= "font-size: 15px"></i></button>
      </div>
    </div>

    <div class="collapse" id="collapseInbox" style= "width: 100%">
      <div class="row page-custom-section">
        <% @habitsets_notscheduled.each do |habitset| %>
          <%= render 'habitsets/cards/show', habitset: habitset %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="page-custom-content">
    <% @habitsets.where.not(date: nil).distinct.pluck(:date).each do |day| %>
      <div class="row page-custom-section-title">
        <div class="col-xs-10"> <h3> <%= day.strftime("%A.%d.%b.%y") %></h3></div>
        <div class="col-xs-2">
            <button class="round-btn sm-btn" type="button" data-toggle="collapse" data-target="#collapseExample<%= day.strftime("%d%b%y") -%>" aria-expanded="false" aria-controls="collapseExample<%= day.strftime("%d%b%y") -%>"><i class="fas fa-eye" style= "font-size: 15px"></i></button>
        </div>
      </div>

      <div class="collapse" id="collapseExample<%= day.strftime("%d%b%y") -%>"" style= "width: 100%">
        <div class="row page-custom-section">
          <% @habitsets.where(date: day).each do |habitset| %>
            <%= render 'habitsets/cards/show', habitset: habitset %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="page-custom-content">
    <div class="row page-custom-section-title">
      <div class="col-xs-10"><h3>Completed</h3></div>
      <div class="col-xs-2">
        <button class="round-btn sm-btn" type="button" data-toggle="collapse" data-target="#collapseCompleted" aria-expanded="false" aria-controls="collapseCompleted"><i class="fas fa-eye" style= "font-size: 15px"></i></button>
      </div>
    </div>

    <div class="collapse" id="collapseCompleted" style= "width: 100%">
      <div class="row page-custom-section">
        <% @habitsets_completed.each do |habitset| %>
          <%= render 'habitsets/cards/show', habitset: habitset %>
        <% end %>
      </div>
    </div>
  </div>


</div>


