

<div class="page-custom-header">
  <div class="page-custom-header-navback">
    <%= link_to coachees_path,  class: "" do %><i class="fas fa-chevron-circle-left" style= "font-size: 25px"></i><%end%>
  </div>

  <div class="page-custom-header-content">
     <h3><%= @coachee.full_name %></h3>
     <%= "Fiche coachee" %>
  </div>
</div>

<div class="page-wrapper">
  <div class="grid">

    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <% @workouts.each do |workout| %>
          <div class="card-wrapper">
            <div class="card-content align-vertical height">
              <div class="row">
                <div class="col-xs-2 custom-table-cell"><%= workout.date.strftime("%d.%m") %></div>
                <div class="col-xs-4 custom-table-cell"><%= workout.name %></div>
                <div class="col-xs-3 custom-table-cell"><%= "#{number_with_delimiter(workout.total_weight, separator: " ")} kg" %></div>
                <div class="col-xs-3 custom-table-cell">
                  <button class="btn-icon margin-left" type="button" data-toggle="collapse" data-target="#collapseExample<%= workout.id -%>" aria-expanded="false" aria-controls="collapseExample<%= workout.id -%>"><i class="fas fa-chevron-circle-down"></i></button>
                </div>
              </div>
              <div class="row">
                <div class="collapse" id="collapseExample<%= workout.id -%>" style= "width: 100%">
                  <%= render "profiles/workoutsets", workoutsets: workout.workoutsets %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>





