


<div class="page-custom-header">
  <div class="page-custom-header-navback">
    <%= link_to coachees_path,  class: "" do %><i class="fas fa-chevron-circle-left" style= "font-size: 25px"></i><%end%>
  </div>

  <div class="page-custom-header-content">
     <h3><%= @coachee.full_name %></h3>
     <%= "Fiche coachee" %>
  </div>
</div>

<div class="page-wrapper">
  <div class="grid">

    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 nopadding">
        <div class="card-wrapper">
          <div class="card-title">Ses résultats (en kg)</div>
          <div class="card-content">
          <%= column_chart @results_graph, library: { hAxis: { format: 'dd/mm' }}, height: "200px" %>
          </div>
        </div>
      </div>
    </div>

    <% @results.each do |result| %>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 nopadding">
          <div class="card-wrapper">
            <div class="card-title">
              <%= result.date.strftime("%A, %d %B %y") %>
            </div>
            <div class="card-content">
              <div class="card-content-split">
                <div class="row">
                  <div class="col-xs-8 col-sm-8">
                    <%= cl_image_tag(result.selfie,
                    width: 150, height: 150, crop: :fill) %>
                  </div>
                  <div class="col-xs-4 col-sm-4">
                    <p>Poids:</p>
                    <p><%= "#{result.weight} kg" %></p>
                    <br>
                    <p>Masse Grasse :</p>
                    <p><%= "#{number_to_percentage(result.fatrate*100, precision: 0)}" %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>




