<%= javascript_pack_tag 'chartkick.js' %>

<div class="page-wrapper">
  <div class="grid">

    <div class="row">
      <div class="col-xs-10 col-sm-5 col-sm-offset-3">
        <div class="page-title">
          <h3><%= @profile.full_name %></h3>
          <div class="page-title-sub">
            <p><%= link_to coachees_path,  class: "" do %><i class="fas fa-chevron-circle-left" style= "font-size: 15px"></i><%end%>
            Fiche coaching</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-wrapper">
          <div class="card-title">Programmes</div>
          <div class="card-content">
            <div class="custom-table">
              <div class="row custom-table-header">
                <div class="col-xs-6 custom-table-cell">Nom</div>
                <div class="col-xs-2 custom-table-cell">Dernier</div>
                <div class="col-xs-4 custom-table-cell">Actions</div>
              </div>
              <% @programs.each do |workout| %>
                <div class="row custom-table-row"">
                  <div class="col-xs-6 custom-table-cell"><%= workout.name %></div>
                  <div class="col-xs-2 custom-table-cell"><%= workout.program_last_used.nil? ? "" : workout.program_last_used.strftime("%d.%m") %></div>
                  <div class="col-xs-4 custom-table-cell">
                    <%= link_to "Modifier", profile_program_path(workout.profile, workout), class:"round-btn white-btn sm-btn"%>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-wrapper">
            <div class="card-title">Résultats (en kg)</div>
            <div class="card-content">

              <%= column_chart @results, library: { hAxis: { format: 'dd/mm' }}, height: "200px" %>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-wrapper">
          <div class="card-title">Ses entrainements</div>
          <div class="card-content">
            <div class="custom-table">
              <div class="row custom-table-header">
                <div class="col-xs-2 custom-table-cell">Date</div>
                <div class="col-xs-4 custom-table-cell">Nom</div>
                <div class="col-xs-3 custom-table-cell">Charges Totales</div>
                <div class="col-xs-3 custom-table-cell">Actions</div>
              </div>
              <% @workouts.each do |workout| %>
                <div class="custom-table-row">
                  <div class="row">
                    <div class="col-xs-2 custom-table-cell"><%= workout.date.strftime("%d.%m") %></div>
                    <div class="col-xs-4 custom-table-cell"><%= workout.name %></div>
                    <div class="col-xs-3 custom-table-cell"><%= "#{number_with_delimiter(workout.total_weight, separator: " ")} kg" %></div>
                    <div class="col-xs-3 custom-table-cell">
                       <button class="btn-icon margin-left" type="button" data-toggle="collapse" data-target="#collapseExample<%= workout.id -%>" aria-expanded="false" aria-controls="collapseExample<%= workout.id -%>"><i class="fas fa-chevron-circle-down"></i></button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="collapse" id="collapseExample<%= workout.id -%>" style= "width: 100%">
                        <%= render "profiles/workoutsets", workoutsets: workout.workoutsets %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="card-pagination">
                <%= will_paginate @workouts, renderer: BootstrapPagination::Rails %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




