<div class="page-custom-wrapper">

  <div class="page-custom-header">
    <div class="page-custom-header-navback"></div>
    <div class="page-custom-header-content">
       <h3><%= "TBD" %></h3>
    </div>
  </div>

  <div class="page-custom-content">
    <div class="grid">

       <% @habitsetdays.each do |day| %>

      <div class="row page-custom-section-title">
        <h3><%= day %></h3>
      </div>

      <div class="row page-custom-section">
         <% @habitsets.where(date: day).each do |habitset| %>
           <div class="row">
              <div class="card-product">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                <div class="card-product-infos">
                  <div class="row">
                    <div class="col-xs-2"><%= habitset.date %></div>
                    <div class="col-xs-6"><%= habitset.name %></div>
                    <div class="col-xs-4">
                      <%= link_to "Feedbback", edit_habitset_path(habitset), action: "edit", class:"btn round-btn blue-btn sm-btn"%>
                      <%= link_to "Edit", edit_habitset_path(habitset), action: "edit", class:"btn round-btn blue-btn sm-btn"%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%end %>
        </div>

     <%end %>
      </div>
    </div>
</div>
