

        <div class="page-custom-header">


          <div class="page-custom-header-navback">
              <%= link_to profile_workouts_path(@workout.profile),  class: "" do %><i class="fas fa-chevron-circle-left" style= "font-size: 25px"></i><%end%>
          </div>

          <div class="page-custom-header-content">
              <h3><%= @workout.name %></h3>
              <%= @workout.date.strftime("%A, %d %B %y") %>
          </div>
        </div>

<div class="page-wrapper">

  <div class="grid">

    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
         <% @workout.workoutsets.order(id: :desc).each_with_index do |workoutset, index| %>
            <div class="card-wrapper">
              <div class="card-content align-vertical height">
                <div class="custom-table">

                  <div class="row">
                    <div class="col-xs-4"><%= workoutset.exercice.name %></div>
                    <div class="col-xs-2"><%= "#{workoutset.repetitions_count_complete} / #{workoutset.repetitions_count_total}"%>
                    </div>
                    <div class="col-xs-3">
                      <div><%= "#{workoutset.total_weight} kg" %></div>
                      <div>
                      <% if workoutset.total_weight >= workoutset.total_weight_last %>
                          <i class="fas fa-chevron-circle-up icon-green"></i>
                          <%= "+ #{workoutset.total_weight - workoutset.total_weight_last} kg" %>
                        <% else %>
                          <i class="fas fa-chevron-circle-down icon-red"></i>
                          <%= "#{workoutset.total_weight - workoutset.total_weight_last} kg" %>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-xs-3 custom-table-cell">
                      <%= link_to workoutset_path(workoutset),  class: "btn-icon" do %><i class="fas fa-chevron-circle-right" style= "font-size: 25px"></i><%end%>
                      <%= link_to workoutset_path(workoutset), method: :delete,  data: {confirm: "Are you sure?"}, class: "btn-icon" do %><i class="fas fa-times-circle" style= "font-size: 25px"></i><%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

            <div class="row jsformShowCTA">
              <div class="col-xs-8"></div>
              <div class="col-xs-4">
                <button class="round-btn white-btn sm-btn margin-left jsFormShowBtn">Ajouter</button>
              </div>
            </div>

            <div class="row custom-table-row jsFormShow hide">
              <%= simple_form_for [@workout, @new_workoutset] do |f| %>
              <div class="form-row">
                <div class="form-group col-xs-9">
                  <%= f.input :exercice,collection: @exercices, value_method: :id %>
                </div>
                <div class="form-group col-xs-3">
                  <%= f.submit 'Ajouter', class:"round-btn white-btn sm-btn" %>
                </div>
              </div>
            </div>
            <% end %>


          </div>
        </div>

      </div>
    </div>


