<% if user_signed_in? %>
  <nav class="bottom-navbar">

    <% if current_user.profile.role == "Athlete" %>
      <div class="nav-item">
        <%= active_link_to "Mes programmes", profile_programs_path(current_user.profile) %>
      </div>
      <div class="nav-item">
        <%= active_link_to "Mes entrainements", profile_workouts_path(current_user.profile) %>
      </div>
      <div class="nav-item">
        <%= active_link_to "Mes résultats", profile_results_path(current_user.profile) %>
      </div>
      <div class="nav-item">
        <%= active_link_to "Mes feedbacks", coach_feedbacks_path %>
      </div>
    <% else %>

      <% if @coachee.nil? %>
        <div class="nav-item">
          <%= active_link_to "Mes élèves", coachees_path %>
        </div>
        <div class="nav-item"></div>
        <div class="nav-item"></div>
        <div class="nav-item"></div>
      <% else %>
        <div class="nav-item">
          <%= active_link_to "Adrien", coachees_path %>
        </div>
        <div class="nav-item">
          <%= active_link_to "Ses entrainements", profile_profile_coachee_path(@coachee), active: :exclusive %>
        </div>
        <div class="nav-item">
          <%= active_link_to "Ses résultats", profile_profile_coachee_results_path(@coachee), active: :exclusive  %>
        </div>
        <div class="nav-item">
          <%= active_link_to "Ses feedbacks", profile_profile_coachee_feedbacks_path(@coachee), active: :exclusive  %>
        </div>
      <% end %>
    <% end %>
  </nav>
<% end  %>
