<div class="navbar-wagon">

  <div class="navbar-wagon-left">
    <!-- Logo -->
    <div class="dropdown">
      <div class="" data-toggle="dropdown">
        <%= image_tag "logo.png", height: 50 %>
      </div>
      <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
      <% if user_signed_in? %>
        <% if current_user.profile.role == "Athlete" %>
          <li><%= link_to "Mes entrainements", profile_workouts_path(current_user.profile) %></li>
          <li><%= link_to "Mes résultats", profile_results_path(current_user.profile) %></li>
        <% else %>
          <li><%= link_to "Mes élèves", coachees_path %></li>
        <% end %>
          <li>  <%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
      <% else %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>
      <% end %>
      </ul>
    </div>


    <!-- Greeting -->
    <% if user_signed_in? %>
      <div class="navbar-greetings">
        <div><%= "#{current_user.profile.full_name}" %></div>
        <div><%= "Profil : #{current_user.profile.role}" %></div>
      </div>
    <%end%>
  </div>
</div>

