
<%= javascript_pack_tag 'chartkick.js' %>

<div class="page-wrapper">
  <div class="grid">

    <div class="row">
      <div class="col-xs-10 col-sm-5 col-sm-offset-3">
        <div class="page-title">
          <h3>Résultats</h3>
          <div class="page-title-sub">
            <p><%= @profile.full_name %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-wrapper">
            <div class="card-title">Graphique du poids</div>
            <div class="card-content">

              <%= column_chart @graph, library: { hAxis: { format: 'dd/mm' }}, height: "200px" %>
            </div>
        </div>
      </div>
    </div>

    <% @results.each do |result| %>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="card-wrapper">
            <div class="card-title">
              <%= result.date.strftime("%A, %d %B %y") %>
            </div>
            <div class="card-content">
              <div class="card-content-split">
                  <div class="row">
                  <div class="col-xs-8 col-sm-6 col-sm-offset-3">
                    <%= cl_image_tag(result.selfie,
                    width: 200, height: 200, crop: :fill) %>
                  </div>
                  <div class="col-xs-4 col-sm-6 col-sm-offset-3">
                    <p>Poids:</p>
                    <p><%= "#{result.weight} kg" %></p>
                    <br>
                    <p>Masse Grasse :</p>
                    <p><%= "#{result.fatmass/result.weight} %" %></p>
                  </div>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
       <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="card-wrapper">
            <div class="card-title">
              Ajouter un nouveau resultat
            </div>
            <div class="card-content">
              <%= simple_form_for [@profile, @new_result] do |f| %>
                <%= f.input :date, as: :string, placeholder:Date.today.to_s, input_html: {class: "datepicker"} %>
                <%= f.input :weight %>
                <%= f.input :fatmass %>
                <%= f.input :selfie %>
                <%= f.input :selfie_cache, as: :hidden %>
                <%= f.submit "OK", class: "blue-btn round-btn sm-btn" %>
              <% end %>
            </div>
          </div>
        </div>
    </div>

  </div>


</div>

