
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 30%), url(<%=image_path("home.jpg")%>);">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text">
        <h1><strong>CoachAPP</strong></h1>
        <div class="description">
          <p>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
          <div class="form-top-left">
            <h3>Log In</h3>
          </div>
        </div>
        <div class="form-bottom">

          <%= form_for :user, :url => session_path(:user), html: {class: "login-form"} do |f| %>
          <div class="form-group">
            <%= f.text_field :email, class: "form-username form-control" %>
          </div>
          <div>
            <%= f.password_field :password, class: "form-username form-control" %>
          </div>
          <div>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <div class="form-group">
           <%= f.submit 'Sign in', class: "btn blue-btn round-btn lg-btn" %>
         </div>
         <% end %>
       </div>
     </div>
   </div>
  </div>
</div>
