<div class="mini-docu-wrapper">

  <% if @set.video.url.nil? %>

    <%= simple_form_for @set do |f| %>
      <%= f.input :video %>
      <%= f.input :video_cache, as: :hidden %>
      <%= f.button :submit, "upload", class: "zaina-red-btn" %>
    <% end %>

  <% else %>

    <video width="300" height="300" controls>
      <source src="<%= @set.video.url %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>

  <% end %>

</div>
