
<div class="page-custom-header">
  <div class="page-custom-header-navback">
    <%= link_to workout_path(@set.workout),  class: "" do %><i class="fas fa-chevron-circle-left" style= "font-size: 25px"></i><%end%></i>
  </div>

  <div class="page-custom-header-content">
    <h3><%= @set.exercice.name %></h3>
     <%= "Workout #{@set.workout.name} (#{@set.workout.date.strftime("%A, %d %B %y")})" %>
  </div>
</div>


<div class="page-wrapper">


     <div class="grid">

    <div class="row">

    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="card-wrapper">
            <div class="card-title">Graphique des performances</div>
            <div class="card-content">

              <%= column_chart @graph, library: { hAxis: { format: 'dd/mm' }}, height: "200px" %>
              <%= render "workoutsets/exercice", workoutsets: @sets_histo %>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="card-wrapper">
          <div class="card-title">Séries</div>
          <div class="card-content">
             <%= render "repetitions/show", workoutset: @set, repetitions: @set.repetitions %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="card-wrapper">
            <div class="card-title">Feedback</div>
            <div class="card-content">
              <%= render "workoutsets/feedback", workoutset: @set %>
            </div>
        </div>
      </div>
    </div>


  </div>
</div>

