<%= javascript_pack_tag 'chartkick.js' %>

<div class="page-wrapper">
  <div class="grid">

    <div class="row">

      <div class="col-xs-10 col-sm-5 col-sm-offset-3">
        <div class="page-title">
          <h3><%= @set.exercice.name %></h3>
          <div class="page-title-sub">
          <p><%= link_to workout_path(@set.workout),  class: "" do %><i class="fas fa-chevron-circle-left" style= "font-size: 15px"></i><%end%>
            <%= "Workout #{@set.workout.name} (#{@set.workout.date.strftime("%A, %d %B %y")})" %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-sm-1">
        <div class="page-title-back">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-wrapper">
            <div class="card-title">Graphique des performances</div>
            <div class="card-content">

              <%= column_chart @graph, library: { hAxis: { format: 'dd/mm' }}, height: "200px" %>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-wrapper">
          <div class="card-title">Séries</div>
          <div class="card-content">
             <%= render "repetitions/show", workoutset: @set, repetitions: @set.repetitions %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-wrapper">
            <div class="card-title">Feeback</div>
            <div class="card-content">
              <%= render "workoutsets/video", workoutsets: @set %>
            </div>
        </div>
      </div>
    </div>


  </div>
</div>

