
<div class="page-wrapper">
  <div class="grid">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="page-title">
          <p><%= @set.exercice.name %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-wrapper">
            <div class="card-title">Graphique des performances</div>
            <div class="card-content">

              <%= column_chart @graph, library: { hAxis: { format: 'dd/mm' }} %>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="card-wrapper">
          <div class="card-title">Séries</div>
          <div class="card-content">
            <div class="custom-table">
              <div class="row custom-table-header">
                <div class="col-xs-2 custom-table-cell">#</div>
                <div class="col-xs-2 custom-table-cell">Reps</div>
                <div class="col-xs-2 custom-table-cell">Poids</div>
                <div class="col-xs-2 custom-table-cell">Status</div>
                <div class="col-xs-4 custom-table-cell">Actions</div>
              </div>
              <% @set.repetitions.each_with_index do |repetition, index| %>
                <div class="row custom-table-row">
                  <div class="col-xs-2 custom-table-cell"><%= index + 1 %></div>
                  <div class="col-xs-3 custom-table-cell"><%= repetition.quantity %></div>
                  <div class="col-xs-3 custom-table-cell"><%= repetition.weight %></div>
                  <div class="col-xs-3 custom-table-cell">
                    <% if repetition.is_complete %>

                    <i class="fas fa-check-circle <%= repetition.is_complete ? "green" : "grey" %>"></i>

                    <% end %>

                  <div class="col-xs-4 custom-table-cell">Actions</div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

